<div class="form-group">
	<div class="form-group col-sm-6">
		<label>First Name:</label>
		<input type="text" id="1" class="form-control" data-ng-model="item.firstname" placeholder="Firstname">
	</div>

	<div class="form-group col-sm-6">
	    <label>Last Name:</label>
	    <input type="text" id="2" class="form-control" data-ng-model="item.lastname" placeholder="Lastname">
	</div>

	<div class="form-group col-sm-6">
	    <label>Email:</label>
	    <input type="text" id="3" class="form-control" data-ng-model="item.email" placeholder="Email ID">
	</div>

	<div class="form-group col-sm-6">
	    <label>Gender:</label>
	    <input type="text" id="3" class="form-control" data-ng-model="item.gender" placeholder="Gender">
	</div>

	<div class="form-group col-sm-6">
	    <label>Date of Birth:</label>
	    <input type="text" id="4" class="form-control" data-ng-model="item.dob" placeholder="Date of Birth">
	</div>

	<div class="form-group col-sm-6">
	    <label>Username:</label>
	    <input type="text" id="5" class="form-control" data-ng-model="item.username" placeholder="Username">
	</div>

	<div class="form-group col-sm-6">
	    <label>Password:</label>
	    <input type="text" id="6" class="form-control" data-ng-model="item.password" placeholder="Password">
	</div>
		
	<div class="form-group col-sm-6">
	    <label>Re-Enter Password:</label>
	    <input type="text" id="7" class="form-control" data-ng-model="item.pass2" placeholder="Re-Enter Password">
	</div>	

	<div class="form-group col-sm-6">
	    <buttom data-ng-click="save()" class="btn btn-primary active">Save</buttom>
	    <buttom data-ng-click="cancel()" class="btn btn-primary active">Cancel</buttom>
	    <input type="reset" class="btn btn-primary" />
	</div>			
</div>